.not-found-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .not-found-content {
    text-align: center;
  }
  
  .not-found-content h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  
  .not-found-content p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }
  
  .not-found-content a {
    font-size: 1.2rem;
    color: #007bff;
    text-decoration: none;
  }
  
  .not-found-content a:hover {
    text-decoration: underline;
  }
  
  .not-found-image {
    width: 50%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  