
  /* CSS */
/* .dropdown-menu {
    display: none;
  }
  
  .dropdown:hover .dropdown-menu {
    display: block;
  } */
  .category-container {
    display: flex;
    align-items: center;
  }
  
  .iconCategory {
    margin-left: auto;
  }
  